$title-font-family:'Roboto',
sans-serif;
$primary-font-family:'Open Sans',
serif;
$primary-bgcolor:#fff;

$title-color: #515151;
$primary-text-color :#555252;

$button-bgcolor: #4ec6ab;
$button-text-color: #fff;
$button-hover-bgcolor:#17a186;

$brand-color :#1abc9c;

$nav-icons-color :#fff;
$nav-user-text-color :#fff;
$nav-user-accent-color :#00ffc9;

$site-nav-color :#0f0101;

$hero-text-color :#fff;
$hero-overlay-bgcolor :rgba(0, 0, 0, 0.53);

$sections-bgcolor: #e9f0fd;

$card-overlay-bgcolor :rgba(15, 1, 1, 0.55);
$card-border:10px solid rgba(255, 255, 255, 0.9);
$collection-card-bgcolor :#e9f0fd;

$card-button-border :1px solid #fff;
$card-button-bgcolor :#323232;
$card-button-color :#fff;
$card-icon-fill :#fff;

$card-name-bgcolor :#323232;
$card-cost-bgcolor :#8c8c8c;

$foooter-text-color :#fff;
